<!-- Footer -->
<footer class="">
    <article class="containerFooterOne">
        <h3 class="">Service Clients</h3>
        <p>Pour tout contact direct voici les coordonnées en cas de demande spécifique veuillez remplir le formulaire de contact</p>
        <p>+33 (0)1 44 23 10 34</p>
        <p>Envoyer un e-mail </p>
    </article>
    <article class="containerFootertwo">
        <h3>Services</h3>
        <img src="" alt="">
    </article>
    <article class="containerFooterthree">
        <h3>Commandes</h3>
    </article>
    <article class="containerFooterfour">
        <h3>Sospeso</h3>
    </article>
    <article class="containerFooterfive">
        <h3>Mentions légales</h3>
    </article>
    <article class="containerFootersix">
            <h3>SUIVEZ-NOUS</h3>
            <section class="FlexRow">
                <ol><img class="" alt="facebook" src="/assets/images/footer/fb.svg"></ol>
                <ol><img class="" alt="Youtube" src="/assets/images/footer/ytb.svg"></ol>
                <ol><img class="" alt="X" src="/assets/images/footer/x.svg"></ol>
                <ol><img class="" alt="instagram" src="/assets/images/footer/insta.svg"></ol>
            </section>
    </article>
    <article class="containerFooterseven"></article>
</footer>