{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
<section class="pageContainer">
    <article class="contentWrapper">
        <h1>À propos de nous</h1>
        <p>
            Sospeso est une initiative née d’une volonté de solidarité et de partage. Inspiré du concept du café suspendu, 
            Sospeso permet aux utilisateurs d’offrir des produits ou services à distance à ceux qui en ont besoin, tout en 
            soutenant les commerçants et restaurateurs locaux. Notre mission est de créer un pont entre les communautés, 
            pour promouvoir un écosystème d'entraide, d'inclusion et de responsabilité sociale.
        </p>
        <p>
            Nous croyons en un avenir où chacun peut contribuer à sa manière, et où les gestes solidaires sont valorisés.
            Rejoignez-nous dans cette aventure et ensemble, construisons un monde plus bienveillant.
        </p>
    </article>
</section>
{% endblock %}
