{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section class="pageContainer">
    <article class="contentWrapper">
        <h1>Mentions légales</h1>
        <p>
            La plateforme Sospeso est éditée par SOSPESO, [Forme juridique], immatriculée sous le numéro [Numéro 
            d’immatriculation] au [RCS ou autre registre], et dont le siège social est situé à [Adresse complète].
        </p>
        <p>
            Pour toute demande concernant la plateforme, vous pouvez nous contacter par email à l’adresse suivante : 
            <a href="mailto:contact@sospeso.com">contact@sospeso.com</a>.
        </p>
        <p>
            Hébergement : [Nom de l’hébergeur], situé à [Adresse complète de l’hébergeur].
        </p>
    </article>
</section>
{% endblock %}
