{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
<section class="pageContainer">
    <article class="contentWrapper">
        <h1>Politique de Confidentialité</h1>
        <p>
            Chez Sospeso, la protection de vos données personnelles est notre priorité. Nous nous engageons à respecter 
            votre vie privée et à assurer la sécurité de vos informations personnelles. Les données collectées sont utilisées 
            uniquement pour améliorer votre expérience sur notre plateforme, et ne sont jamais partagées avec des tiers 
            sans votre consentement explicite.
        </p>
        <p>
            Pour en savoir plus sur la manière dont nous collectons, utilisons et protégeons vos données, veuillez consulter 
            notre <a href="#">charte complète sur la protection des données</a>.
        </p>
    </article>
</section>
{% endblock %}
