{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente{% endblock %}

{% block body %}
<section class="pageContainer">
    <article class="contentWrapper">
        <h1>Conditions Générales de Vente</h1>
        <p>
            Les transactions effectuées sur la plateforme Sospeso sont régies par nos conditions générales de vente. Celles-ci 
            définissent les droits et obligations des acheteurs et des vendeurs lors de l'achat ou de l'offre de produits suspendus.
        </p>
        <p>
            Nous veillons à ce que chaque transaction respecte les normes de transparence et d'équité. Pour toute question 
            ou réclamation, veuillez consulter notre <a href="#">service d'assistance</a>.
        </p>
    </article>
</section>
{% endblock %}
