{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}
        
{% block importmap %}{{ importmap('app') }}{% endblock %}


{% block body %}

<section class="FlexCol JustifyCenter containertest">
    <article class="">    
        <h3>Découvrir Sospeso </h3>
    </article>
    <article class="">
        <p>Donner n'a jamais été aussi simple, où que vous soyez.</p>
    </article>
    <article class="">            
        <img class="" alt="downArrow" src="{{ asset('/images/home/downArrowHome.svg') }}">
    </article>
</section>

{% endblock %}

