<form action="{{ path('app_user_profile_delete') }}" method="post">
    <input type="hidden" name="_token" value="{{ csrf_token('archive-account') }}">
    <button class="btn btn-danger">Supprimer mon compte</button>
</form>
