{% extends 'dashboard_restaurant/layout.html.twig' %}

{% block content %}
<div class="dashboardWelcome">
    {# <h1>Bonjour, {{ user.firstname }}</h1> #}
    <h1>Bonjour,</h1>
    <p>Bienvenue dans votre dashboard !</p>
</div>
{% endblock %}
