{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        {# <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead> #}
        <tbody>
        {% for product in products %}
                {% include '_partials/listingProduct/_card.html.twig' with {'product': product} %}
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">voir</a>
                    <a href="{{ path('app_product_update', {'id': product.id}) }}">modifier</a>
                </td>
        {% else %}
            <tr>
                <td colspan="6">Vous n'avez pas de produit pour votre restaurant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Créez un produit</a>
{% endblock %}
