{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modification du produit</h1>

    {{ include('_partials/listingProduct/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_product_index') }}">Retourner a votre liste</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
