{% extends 'dashboard_restaurant/layout.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block content %}
    <h1>Modification du produit</h1>

    {{ include('_partials/listingRestaurant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard_restaurant_restaurant') }}">Retourner en arrière</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
