{% extends 'base.html.twig' %}

{% block title %}RestaurantController{% endblock %}

{% block body %}

<article>
    <h1 class="title JustifyCenter">Restaurants</h1>
</article>
{# filtre #}
<section class="FlexRow Filter FlexAround">
    <article class="containerFilter"></article>
    <article class="containerFilter"></article>
    <article class="containerFilter"></article>
    <article class="containerFilter"></article>
</section>
{# END filtre #}
{# INCLUDE _Card #}
<section class="">
    {% for restaurantData in restaurants %}
        {% set restaurant = restaurantData.restaurant %}
        {% set minPrice = restaurantData.minPrice %}
        {% set maxPrice = restaurantData.maxPrice %}
        {% include'/_partials/listingRestaurant/_card.html.twig' %}
    {% endfor %}
</section>
{# ENd _Card #}


{% endblock %}
