{% extends 'base.html.twig' %}

{% block title %}RestaurantController{% endblock %}

{% block body %}

<article>
    <h1 class="title JustifyCenter">Restaurants</h1>
</article>
{# filtre #}
<section class="FlexRow Filter FlexAround">
    <article class="containerFilter"></article>
    <article class="containerFilter"></article>
    <article class="containerFilter"></article>
    <article class="containerFilter"></article>
</section>
{# END filtre #}
{# INCLUDE _Card #}
<section class="">
    {% for restaurant in restaurants %}
        {% include'/templates/_partials/_card.html.twig' %}
    {% endfor %}
</section>
{# ENd _Card #}


{% endblock %}
